In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

%cd gdrive/MyDrive/DS203_Assignments/Assignment4/

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).
/content/gdrive/MyDrive/DS203_Assignments/Assignment4

# **Question1_A**

In [ ]:
import pandas as pd

df = pd.read_csv("public_facilities.csv")

In [ ]:
df

                      District  ... No. of facilities by performance - >300
0                   Alipurduar  ...                                       0
1                   Alipurduar  ...                                       0
2                      Bankura  ...                                       2
3                      Bankura  ...                                       2
4                      Birbhum  ...                                       2
..                         ...  ...                                     ...
69  South Twenty Four Parganas  ...                                       0
70              Uttar Dinajpur  ...                                       1
71              Uttar Dinajpur  ...                                       1
72              Uttar Dinajpur  ...                                       0
73              Uttar Dinajpur  ...                                       0

[74 rows x 11 columns]

In [ ]:
df.dtypes

District                                         object
Facility Type                                    object
Total No. of Facilities #                         int64
No. of facilities reporting nil performance *     int64
Performance - Overall Average **                  int64
Performance - Maximum                             int64
Performance - Minimum                             int64
No. of facilities by performance - 1 to 30        int64
No. of facilities by performance - 31 to 150      int64
No. of facilities by performance - 151 to 300     int64
No. of facilities by performance - >300           int64
dtype: object

# **Question1_B**

In [ ]:
df=pd.read_csv("stocks.csv")
df

           Date        Open        High  ...       Close   Adj Close   Volume
0    2020-08-31  147.350006  148.789993  ...  148.389999  145.899582  4430700
1    2020-09-01  148.610001  149.199997  ...  147.300003  144.827866  2358700
2    2020-09-02  146.789993  150.000000  ...  149.550003  147.040100  2406800
3    2020-09-03  152.190002  153.369995  ...  149.020004  146.519012  4226100
4    2020-09-04  148.770004  152.580002  ...  150.910004  148.377274  4361800
..          ...         ...         ...  ...         ...         ...      ...
246  2021-08-23  272.299988  272.910004  ...  267.820007  267.820007  2438800
247  2021-08-24  266.200012  267.440002  ...  262.769989  262.769989  3736000
248  2021-08-25  262.779999  264.519989  ...  263.869995  263.869995  2388500
249  2021-08-26  264.000000  265.589996  ...  261.320007  261.320007  1732900
250  2021-08-27  262.519989  263.130005  ...  259.750000  259.750000  1839700

[251 rows x 7 columns]

In [ ]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

# **Question1_C**

In [18]:
df=pd.read_csv("amphibians.csv",delimiter=';',skiprows=1)
df

      ID Motorway    SR  ...  Tree frog  Common newt  Great crested newt
0      1       A1   600  ...          0            0                   0
1      2       A1   700  ...          0            1                   0
2      3       A1   200  ...          0            1                   0
3      4       A1   300  ...          0            0                   0
4      5       A1   600  ...          0            1                   1
..   ...      ...   ...  ...        ...          ...                 ...
184  185      S52  2300  ...          0            0                   0
185  186      S52   300  ...          0            1                   0
186  187      S52   500  ...          0            1                   0
187  188      S52   300  ...          0            0                   0
188  189      S52   300  ...          0            0                   0

[189 rows x 23 columns]

In [19]:
df.dtypes

ID                     int64
Motorway              object
SR                     int64
NR                     int64
TR                     int64
VR                     int64
SUR1                   int64
SUR2                   int64
SUR3                   int64
UR                     int64
FR                     int64
OR                     int64
RR                     int64
BR                     int64
MR                     int64
CR                     int64
Green frogs            int64
Brown frogs            int64
Common toad            int64
Fire-bellied toad      int64
Tree frog              int64
Common newt            int64
Great crested newt     int64
dtype: object